@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-blue: #252b42;
  --sky-blue: #23a6f0;
  --light-sky-blue: #b2e3ff;
  --light-orange: #e77c40;
  --red: #e74040;
  --light-pink: #ffdcd1;
  --light-grey: #737373;
  --yello: #f3cd03;
  --green: #2dc071;
  --light-green: #b9eaa8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* Start Header */
#header {
  background-color: var(--dark-blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  min-height: 100px;
}

.navbar a {
  color: white;
  font-size: 14px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  margin: 0 10px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--red);
}

.navbar .account .btn-join {
  background-color: var(--sky-blue);
  padding: 10px 20px;
  margin-left: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar .account .btn-join svg {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}
/* End Header */
