@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-blue: #252b42;
  --sky-blue: #23a6f0;
  --light-sky-blue: #b2e3ff;
  --light-orange: #e77c40;
  --red: #e74040;
  --light-pink: #ffdcd1;
  --light-grey: #737373;
  --yello: #f3cd03;
  --green: #2dc071;
  --light-green: #b9eaa8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}
/* Start Header */
#header {
  background-color: var(--dark-blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  min-height: 100px;
}

.navbar a {
  color: white;
  font-size: 14px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  margin: 0 10px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--red);
}

.navbar .account .btn-join {
  background-color: var(--sky-blue);
  padding: 10px 20px;
  margin-left: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar .account .btn-join svg {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}
/* End Header */

/* Start Main */
/* Start Home */
#home {
  padding: 5rem 0;
  background-color: var(--dark-blue);
}

.home__header {
  text-align: center;
  color: white;
  max-width: 450px;
  margin: auto;
}

.home__header span {
  color: var(--red);
  font-weight: 600;
}

.home__header h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
  color: var(--light-pink);
}

.home__header p {
  margin-bottom: 30px;
  color: var(--light-pink);
  line-height: 1.6;
  text-transform: capitalize;
}

.home__header .btn {
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
}

.home__header .btn-red {
  color: white;
  background-color: var(--red);
}

.home__header .btn-transparent {
  background-color: transparent;
  color: var(--red);
}
/* End Home */
/* Start Card */
.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin-top: 5rem;
  gap: 15px;
}
.card__container .card {
  padding: 25px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.card .icon {
  display: inline-block;
  padding: 12px;
  border-radius: 10px;
}

.card .icon svg {
  font-size: 25px;
}

.card h2 {
  font-size: 18px;
  color: var(--dark-blue);
  margin-top: 10px;
}

.card .line {
  width: 60px;
  height: 2px;
  display: block;
  margin: 8px 0;
}

.card p {
  font-size: 14px;
  color: #333;
}
/* End Card */
/* End Main */
